*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body{
    margin-top: 3em;
    background-color: hsl(185, 41%, 84%);
    color:  hsl(186, 14%, 43%);
    /* font-size: 1rem; */
}
span{
    /* margin-bottom: 1.1em; */
    font-weight: 700;
}
input,button{
    cursor: pointer;
}
input{
    border: none;
    font-size: 1.2rem;
    padding: 1em;
    width: 100%;
    text-align: right;
    font-weight: 700;
    /* background-image: url(./images/icon-person.svg); */
    background-repeat: no-repeat;
    background-position:  10px;
    background-size: 8px;
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 41%, 97%);
}
input::placeholder{
    text-align: right;
    margin-right: 0.6em;

}
.logo{
    text-align: center;
}
.logo img{
    width: 50px;
}
.main-app-container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    border-radius: 20px;
    padding: 1em;
    margin-top: 2em;

}
.box{
    width: 100%;
    padding: 2em;
    margin-bottom: 1em;
    /* background-color: blue; */
}

button{
    padding: 0.3em 0.4em;
    border: none;
}
/* Box #bill */
#bill-container input{
    background-image: url(./images/icon-dollar.svg);
}
/* Num-people */
#num-people input{
    background-image: url(./images/icon-person.svg);
}
#custom-tip::placeholder{
    text-align: center;
}
/* Tip-container */
#tip-container{  
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 7px;
    /* background-color: red; */
}

#tip-container span{
    grid-column: 1/3;
}
.tip {
    width: 100%;
    /* height: 6vh; */
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 3px;
    text-align: center;
    color: hsl(189, 41%, 97%);
    background-color: hsl(183, 100%, 15%);
}
.tip:focus,
.tip:hover{
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
    
}
#custom-tip{
    background-color:  hsl(189, 41%, 97%);
    color:  hsl(186, 14%, 43%);
}
/* Total-container */
#total-container{
    padding: 2em;
    border-radius: 5px;
    color: white;
    background-color:  hsl(183, 100%, 15%);
}
#total-container > div{
    width: 100%; 
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    margin: 0.8em 0;
    align-items: center;
}

#tip-amount, 
#total-amount{
    font-size: 1.3rem;
    color: hsl(172, 67%, 45%);
}
#reset-btn{
    width: 100%;
    margin-top: 2em;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
}
#reset-btn:hover{ background-color: hsla(172, 62%, 48%);}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 800px){
    .main-app-container{
        width: 75%;
        margin: 0 auto;
        display: grid;
        grid-gap: 10px;
        column-gap: 30px;
        padding: 2em;
        grid-template-columns: 1fr 1fr;
    }
    #tip-container{  
        /* width: 100%;
        box-sizing: border-box;
        display: grid; */
        grid-template-columns: 1fr 1fr 1fr;
    }
    #tip-container span{
        grid-column: 1/4;
    }
    #total-container{
        grid-column: 2;
        grid-row: 1 / 4;
        display: flex;
        flex-direction: column;  
    }
    #reset-btn{
        font-size: 1rem;
    }
    .box{
        padding: 0.1em;
        margin-bottom: 0;
    }
    input{
        padding: 0;
    }

}